<div class="navContainer">
    <div id="header">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">TKMB COMPANY</a>
            </div>

            <div class="navbar-collapse collapse" id="menu">
                <!-- Hệ thống -->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="">Hệ thống<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                            <li class="dropdown-submenu">
                                <a class="hasChild" href="#">Another dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">3rd level dropdown</a></li>
                                    <li><a href="#">3rd level dropdown</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- Người dùng -->
                @*<ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="">Người dùng<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                            <li class="dropdown-submenu">
                                <a class="hasChild" href="#">Another dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">3rd level dropdown</a></li>
                                    <li><a href="#">3rd level dropdown</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>*@

                <!-- Danh mục -->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="">Danh mục<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="/lsxuat">Lệnh SX</a></li>
                            <li><a tabindex="-1" href="/cont">Định nghĩa Cont</a></li>
                            <li><a tabindex="-1" href="/line">Định nghĩa Line</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="/product">Sản phẩm</a></li>
                            <li><a tabindex="-1" href="/errgroup">Nhóm lỗi sản phẩm</a></li>
                            <li><a tabindex="-1" href="/errmodifiedgroup">Nhóm lỗi lựa lại</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="/dept">Danh sách đơn vị</a></li>
                            <li><a tabindex="-1" href="/employee">Nhân viên</a></li>
                            @*<li class="dropdown-submenu">
                                <a class="hasChild" href="#">Another dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">3rd level dropdown</a></li>
                                    <li><a href="#">3rd level dropdown</a></li>
                                </ul>
                            </li>*@
                        </ul>
                    </li>
                </ul>

                <!-- Nghiệp vụ  -->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="">Nghiệp vụ<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="/errDataMrg">Kiểm tra chất lượng bao thành phẩm</a></li>
                            <li><a tabindex="-1" href="/modifiedDataMrg">Nhập liệu chỉnh sửa túi</a></li>
                            <li><a tabindex="-1" href="/datekeeping">Chấm công nhân viên</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="/ErrCheckMrg">Cập nhật lỗi của phòng QC</a></li>
                            
                            @*<li class="dropdown-submenu">
                                <a class="hasChild" href="#">Another dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">3rd level dropdown</a></li>
                                    <li><a href="#">3rd level dropdown</a></li>
                                </ul>
                            </li>*@
                        </ul>
                    </li>
                </ul>

                <!-- Báo cáo -->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="">Báo cáo<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="/report/RPT_CheckProduct">Kiểm tra chất lượng bao thành phẩm</a></li>
                            <li><a tabindex="-1" href="/report/RPT_DialyInspection">Báo cáo kiểm tra hằng ngày</a></li>
                            <li><a tabindex="-1" href="/report/RPT_CheckQuality">Bảng tính sản lượng cho tổ</a></li>
                            @*<li class="dropdown-submenu">
                                <a class="hasChild" href="#">Another dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">3rd level dropdown</a></li>
                                    <li><a href="#">3rd level dropdown</a></li>
                                </ul>
                            </li>*@
                        </ul>
                    </li>
                </ul>

                @*<ul class="nav navbar-nav">
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Thương hiệu</a></li>                    
                </ul>*@

                <!-- Tài liệu -->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="">Hướng dẫn sử dụng<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                            <li class="dropdown-submenu">
                                <a class="hasChild" href="#">Another dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">3rd level dropdown</a></li>
                                    <li><a href="#">3rd level dropdown</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Tài khoản<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Thông tin</a></li>
                            <li><a href="#">Đổi mật khẩu</a></li>
                            <div class="divider"></div>
                            <li><a href="/home/logout">Thoát</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</div>
<header class="header">
    <div class="container-logo">
        <img src="~/Content/images/menu/logo.png" class="logo" alt="Joomla!" />
    </div>
    <div class="container-title">
        <h1 class="page-title">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            <span id="breadcrumb"></span>
        </h1>
    </div>
</header>

<!-- action buttons -->
<!--
<div class="subhead-collapse" style="height: 43px;">
    <div class="subhead">
        <div class="container-fluid">
            <div id="container-collapse" class="container-collapse"></div>
            <div class="row-fluid">
                <div class="col-sm-12">
                    <div class="btn-toolbar" id="toolbar">
                        <div class="btn-wrapper" id="toolbar-apply">
                            <button type="button" class="btn btn-primary btn-sm margin-right-5">
                                <span class="glyphicon glyphicon-menu-right margin-right-5" aria-hidden="true" ></span> THÊM
                            </button>

                            <button type="button" class="btn btn-primary btn-sm margin-right-5">
                                <span class="glyphicon glyphicon-menu-right margin-right-5" aria-hidden="true" ></span> XÓA
                            </button>

                            <button type="button" class="btn btn-primary btn-sm margin-right-5">
                                <span class="glyphicon glyphicon-menu-right margin-right-5" aria-hidden="true" ></span> PRINT
                            </button>

                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-menu-right margin-right-5" aria-hidden="true" ></span> EXCEL
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
-->

<script>
    $(document).ready(function () {       
        $('.dropdown-submenu a.hasChild').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });

        var navTop;
        var isFixed = false;

        processScrollInit();
        processScroll();

        $(window).on('resize', processScrollInit);
        $(window).on('scroll', processScroll);

        function processScrollInit() {
            if ($('.subhead').length) {
                navTop = $('.subhead').length && $('.subhead').offset().top - 30;

                // Fix the container top
                $(".container-main").css("top", $('.subhead').height() + $('nav.navbar').height());

                // Only apply the scrollspy when the toolbar is not collapsed
                if (document.body.clientWidth > 480) {
                    $('.subhead-collapse').height($('.subhead').height());
                    $('.subhead').scrollspy({ offset: { top: $('.subhead').offset().top - $('nav.navbar').height() } });
                }
            }
        }

        function processScroll() {
            if ($('.subhead').length) {
                var scrollTop = $(window).scrollTop();
                if (scrollTop >= navTop && !isFixed) {
                    isFixed = true;
                    $('.subhead').addClass('subhead-fixed');
                    $('.navContainer').addClass('navbar-fixed-top');

                    // Fix the container top
                    $(".container-main").css("top", $('.subhead').height() + $('nav.navbar').height());
                } else if (scrollTop <= navTop && isFixed) {
                    isFixed = false;
                    $('.subhead').removeClass('subhead-fixed');
                    $('.navContainer').removeClass('navbar-fixed-top');
                }
            }
        }
    });
</script>