@{
    ViewBag.Title = "";
}
<div style="padding-top:25px">
    <div class="">
        <div class="span8 offset3">
            <h4 class="widgettitle nomargin shadowed">Không tìm thấy trang yêu cầu!</h4>
            <div class="widgetcontent bordered shadowed">
                <p>- Vui lòng thử lại hoặc <a href="@Url.Action("Index","Home")">bấm vào đây</a> để về trang chủ</p>

            </div>
            <!--widgetcontent-->
        </div>
    </div>
</div>