@{
    ViewBag.Title = "Index";
}

<script src="~/Content/js/model/errGroupModel.js"></script>
<div id="wrapperMain">
    <!-- action buttons -->
    <div class="subhead-collapse" style="height: 43px;">
        <div class="subhead">
            <div class="container-fluid">
                <div id="container-collapse" class="container-collapse"></div>
                <div class="row-fluid">
                    <div class="col-sm-12">
                        <div class="btn-toolbar" id="toolbar">
                            <div class="btn-wrapper" id="toolbar-apply">
                                @if (clsShared.checkPermission("them", "errgroup", "index"))
                                {
                                <button type="button" class="btn btn-primary btn-sm margin-right-5" data-bind="click: onClick_AddGroup">
                                    <span class="glyphicon glyphicon-plus margin-right-5" aria-hidden="true"></span> THÊM NHÓM
                                </button>


                                <button type="button" class="btn btn-primary btn-sm margin-right-5" data-bind="click: onClick_AddChild">
                                    <span class="glyphicon glyphicon-plus margin-right-5" aria-hidden="true"></span> THÊM LỖI SẢN PHẨM
                                </button>
                                }
@if (clsShared.checkPermission("xoa", "errgroup", "index"))
{
                                <button type="button" class="btn btn-primary btn-sm margin-right-5" data-bind="click: onClick_Remove">
                                    <span class="glyphicon glyphicon-remove margin-right-5" aria-hidden="true"></span> XÓA
                                </button>
}
@if (clsShared.checkPermission("them", "errgroup", "index") || clsShared.checkPermission("sua", "errgroup", "index"))
{
                                <button type="button" class="btn btn-primary btn-sm margin-right-5" data-bind="click: onClick_Save">
                                    <span class="glyphicon glyphicon-floppy-save margin-right-5" aria-hidden="true"></span> LƯU
                                </button>
}

                                <button type="button" class="btn btn-primary btn-sm margin-right-5" data-bind="click: onClick_Reload">
                                    <span class="glyphicon glyphicon-refresh margin-right-5" aria-hidden="true"></span> TẢI LẠI DATA
                                </button>
@if (clsShared.checkPermission("print", "errgroup", "index"))
{
                                <button type="button" class="btn btn-primary btn-sm margin-right-5" style="position:absolute;right:0px;">
                                    <span class="glyphicon glyphicon-print margin-right-5" aria-hidden="true"></span> PRINT
                                </button>
}
@if (clsShared.checkPermission("excel", "errgroup", "index"))
{
                                <button type="button" class="btn btn-primary btn-sm" style="position:absolute;right:90px;">
                                    <span class="glyphicon glyphicon-download-alt margin-right-5" aria-hidden="true"></span> EXCEL
                                </button>
}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wrapperContainer" style="height:100%">
        <div class="wrapperGrid grid-section k-content wide">
            <div>
                <span id="notification"></span>
                <div data-role="treelist"
                     data-selectable="true"
                     @*data-filterable="true"*@
                    data-sortable="true"
                    data-editable="inline"
                    data-resizable="true"
                     data-navigatable="true"
                     data-filterable='{"extra":false,"messages":{"info":"Hiển thị dữ liệu:","filter":"Lọc","clear":"Bỏ lọc","isTrue":"True","isFalse":"False","and":"Và","or":"Hoặc"},"operators":{"string":{"contains":"Lọc gần đúng","eq":"Lọc chính xác","neq":"Tất cả trừ"},"number":{"eq":"Bằng","neq":"Khác","gte":"Lớn hơn bằng","gt":"Lớn hơn","lte":"Nhỏ hơn bằng","lt":"Nhỏ hơn"},"date":{"eq":"Tìm chính xác","neq":"Khác ngày","gte":"Lớn hơn bằng","gt":"Lớn hơn","lte":"Nhỏ hơn bằng","lt":"Nhỏ hơn"}}}'
                     

                     data-columns="[
                                 { 'field': 'name', 'title': 'Code', 'width': 100 },
                                 { 'field': 'p1', 'title': 'Mô tả lỗi' },
                                 { 'field': 'p2', 'title': 'Điều kiện', 'width': 180 },
                                 { 'field': 'p3', 'title': 'Thứ tự', 'width': 180, attributes: { class: 'text-center'} },
                              ]"
                     data-bind="visible: isVisible,
                            source: dataSource,                            
                            events: {
                                save: onDebug,
                                change: onChangeRow,
                                dataBound: onDataBound,
                     edit: onEdit,
                     save: onSave
                            }"></div>
                </div>

        </div>
    </div>
</div>


